.commit-list-container {
    word-wrap: break-word;
    overflow-y: scroll;
    overflow-x: hidden;
}


/* Remove scrollbar from commit list view */
/* .commit-list-container::-webkit-scrollbar {
    display: none;
}

.commit-list-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
} */
