<div class="commit-details-container p-4 d-flex flex-column h-100">
    <h2 class="h5 font-weight-bold mb-4 custom-color-primary">Commit History</h2>
    <div class="flex-fill commit-list-container" infinite-scroll (scrolled)="onScrollDown($event)" [scrollWindow]="false">       
        <div class="commitUnit" *ngFor="let commit of commitList; index as i">
                    <app-commit-unit [commitPosition]="commit.commitPosition" [commitAuthorName]="commit.commitAuthorName" [commitMessage]="commit.commitMessage" [commitDateTime]="commit.commitDateTime | string2date"></app-commit-unit>
                </div>
                <div *ngIf="!hasMoreData" class="text-center"><small class="custom-color-dark-grey">No more commits</small></div>
                <div class="row">
                    <div class="col-12 p-5">
                        <ngx-spinner name="commit-spinner" bdOpacity = 0.9
                                    bdColor= ""
                                    size = "default"
                                    color = "#1D8F6D"
                                    type = "ball-pulse-sync"
                                    [fullScreen] = "false"></ngx-spinner>
                    </div>
                </div>

        
    </div>
    
</div>
