:root {
    --background-color: #282A37;

    --primary-color : #1D8F6D;
    --secondary-color: #385855;
    --tertiary-color: #cfc69b;

    --glass-panel-color: #282A37D3;
    --panel-shadow-color: #66666640;

    --pop-up-color: #282A37FB;
    --pop-up-text-color: #fff;
    --pop-up-border-color: #66666680;
    
    --primary-text-color: #fff;
    --secondary-text-color: #D2D2D2;
    --tertiary-text-color: #fff;

    --error-message-color: #FF6170;
    --icon-color: #6a6a6a;

    --favourite-color: #D0AE35;
}