<div class="commit-unit d-flex flex-row align-items-center pb-4 position-relative w-100">
    <div class="{{_commitPosition}}"></div>
    <div class="position-relative dot-icon">
        <i class="fa-solid fa-circle custom-color-primary"></i>
    </div>
    <div class="ml-4 flex-fill pr-5 w-100">
        <p class="card-text my-0"><small class="custom-color-secondary-text">{{commitDateTime | date:'MMM dd, yyyy HH:mm' : getPrefTimeOffset()}}</small></p>
        <p class="card-text my-0 w-100" style="word-wrap: break-word;">{{commitMessage}}</p>
        <p class="card-text my-0"><small class="custom-color-secondary-text">{{commitAuthorName}}</small></p>
    </div>
</div>
