/* Color Scheme  */
.light-theme {
    --primary-color : #1D8F6D;
    --secondary-color: #385855;
    --primart-text-color: #000;
    --secondary-text-color: #fff;
}

.dark-theme {
    --primary-color : #1D8F6D;
    --secondary-color: #385855;
    --primart-text-color: #fff;
    --secondary-text-color: #000;
}

body,html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}


/* Utility Classes */
.h-min-100-vh{
    min-height: 100vh;
}

.h-max-100-vh{
    max-height: 100vh;
}

.custom-bg-primary{
    background-color: var(--primary-color);
}

.custom-color-primary{
    color: var(--primary-color);
}


/* Global Form Element Style */
.custom-btn-primary{
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
}

.custom-btn-primary:focus,
.custom-btn-primary:hover {
    box-shadow: 0px 0px 1px 1px var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
}

.form-control:focus {
    box-shadow: 0px 0px 1px 1px var(--primary-color);
}


/* Custom DropDown Style for SelectPicker */

.dropdown-toggle {
    border: 1px solid var(--primary-color);
}

.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:focus {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
}


/* @media (min-width: 768px) {
    .w-md-50{
        width: 50%;
    }
    
    .w-md-75{
        width: 75%;
    }
    
}


@media (min-width: 992px) {
    .w-lg-50{
        width: 50%;
    }
    
    .w-lg-75 {
        width: 75%;
    }
}

@media (min-width: 1200px) {
    .w-xl-50{
        width: 50%;
    }
    
    .w-xl-75 {
        width: 75%;
    }
} */