/* Color Scheme  */
.light-theme {
    --primary-color : #1D8F6D;
    --secondary-color: #385855;
    --tertiary-color: #cfc69b;
    --glass-light-primary-color: #fefffdf2;
    --dark-gray: #6A6A6A;
    --primart-text-color: #000;
    --absolute-for-color: #fff;
}

.dark-theme {
    --primary-color : #1D8F6D;
    --secondary-color: #385855;
    --primart-text-color: #fff;
    --absolute-for-color: #000;
}

body,html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

a{
    color: var(--primart-text-color);
}

a:hover, 
a:focus{
    color: var(--primary-color) !important;
}

.trademark {
    font-size: 12px;
}


/* Utility Classes */
.h-min-100-vh{
    min-height: 100vh;
}

.h-max-100-vh{
    max-height: 100vh;
}

.custom-bg-primary{
    background-color: var(--primary-color);
}

.custom-color-primary{
    color: var(--primary-color);
}

.custom-color-dark-grey{
    color: var(--dark-gray);
}

.custom-color-secondary-text{
    color: var(--absolute-for-color);
}

/* Font utils */
.font-weight-medium{
    font-weight: 500;
}

.font-weight-semibold{
    font-weight: 600;
}

/* used for v2 screen */
.custom-panel{
    background-color: var(--glass-light-primary-color);
    box-shadow: 0px 15px 30px 1px #00000040;
    border-radius: 20px;
}


/* Global Form Element Style */
.custom-btn-primary{
    background-color: var(--primary-color);
    color: var(--absolute-for-color);
}

.custom-btn-primary:focus,
.custom-btn-primary:hover {
    box-shadow: 0px 0px 1px 1px var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--absolute-for-color);
}

.form-control:focus {
    box-shadow: 0px 0px 1px 1px var(--primary-color);
}


.text-input-field {
    position: relative;
}

.text-input-field input{
    border: 1px solid var(--primary-color);
    border-radius: 30px;
    padding: 15px 0px 15px 40px;
}

.text-input-field  i{
    position: absolute;
    color: var(--dark-gray);
    top: 32%;
    left: 4%;
}

.round-btn {
    border-radius: 30px;
}


/* Custom DropDown Style for SelectPicker */

.dropdown-toggle {
    border: 1px solid var(--primary-color);
    border-radius: 50px;
}

.dropdown-menu {
    background-color: var(--glass-light-primary-color);
    z-index: 99999999;
    /* box-shadow: 0px 15px 30px 1px #00000040;
    border-radius: 20px;
    border-radius: 20px;
    max-height: 700px; */
}

.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:focus {
    background-color: var(--primary-color);
    color: var(--absolute-for-color);
}

/* ngx-toastr alignment */
.toast-top-center {
    top: 22px !important;
}