body,html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

body{
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    transition: all 0.25s;
}

a{
    color: var(--primary-text-color);
}

a:hover, 
a:focus{
    color: var(--primary-color) !important;
}

.trademark {
    font-size: 12px;
    color: var(--tertiary-text-color);
}


/* Utility Classes */
.h-min-100-vh{
    min-height: 100vh;
}

.h-max-100-vh{
    max-height: 100vh;
}

.custom-bg-primary{
    background-color: var(--primary-color);
}

.custom-bg-secondary{
    background-color: var(--secondary-color);
}

.custom-color-primary{
    color: var(--primary-color);
}

.custom-color-secondary{
    color: var(--secondary-color);
}

.custom-color-primary-text{
    color: var(--primary-text-color);
}

.custom-color-secondary-text{
    color: var(--secondary-text-color);
}


/* Font utils */
.font-weight-medium{
    font-weight: 500;
}

.font-weight-semibold{
    font-weight: 600;
}

/* used for v2 screen */
.custom-panel{
    background-color: var(--glass-panel-color);
    box-shadow: 0px 15px 30px 1px var(--panel-shadow-color);
    border-radius: 20px;
}

.custom-tooltip-text {
    color: var(--primary-color);
    text-decoration: underline;
    cursor: pointer;
}


/* Global Form Element Style */
.custom-btn-primary{
    background-color: var(--primary-color);
    color: var(--tertiary-text-color);
}

.custom-btn-primary:focus,
.custom-btn-primary:hover {
    box-shadow: 0px 0px 1px 1px var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--tertiary-text-color);
}

.form-control:focus {
    box-shadow: 0px 0px 1px 1px var(--primary-color);
}


.text-input-field {
    position: relative;
}

.text-input-field input{
    border: 1px solid var(--primary-color);
    border-radius: 30px;
    padding: 15px 0px 15px 40px;
}

.text-input-field  i{
    position: absolute;
    color: var(--icon-color);
    top: 32%;
    left: 4%;
}

.round-btn {
    border-radius: 30px;
}

.cust-text-danger{
    color: var(--error-message-color);
}

/* Theme toggle switch style */
.custom-switch .custom-control-label::after {
    background-color: #282A37;
}

.custom-control-input:checked~.custom-control-label::before{
    background-color: #282A37;
    border-color: white;
}


/* Custom DropDown Style for SelectPicker */

.dropdown-toggle {
    border: 1px solid var(--primary-color);
    border-radius: 50px;
}

.dropdown-menu {
    background-color: var(--glass-panel-color);
    z-index: 99999999;
    /* box-shadow: 0px 15px 30px 1px #00000040;
    border-radius: 20px;
    border-radius: 20px;
    max-height: 700px; */
}

.dropdown-menu .dropdown-item {
    color: var(--primary-text-color);
}

.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:focus {
    background-color: var(--primary-color);
    color: var(--tertiary-text-color);
}

.dropdown-menu .dropdown-item:hover {
    background-color: transparent;
    color: var(--primary-color);
}

/* ngx-toastr alignment */
.toast-top-center {
    top: 22px !important;
}