.dashboard-container::before{
    background-image: linear-gradient(var(--primary-color), var(--secondary-color));
    mask-image: url('../../assets/img/background-img.png');
    mask-size: cover;
    mask-position: center;
    mask-repeat: no-repeat;
    position: absolute;
    top:0px;
    left:0px;
    display: block;
    content: "";
    z-index: -1;
    height: 100%;
    width: 100%;
}

.dropdown-toggle{
    border: none;
}

.avatarPic {
    width: 40px;
    border: 1px solid var(--primary-color);
    border-radius: 25px;
}

.repo-details,
.language-view-container {
    width : 100%;
}

.profile-dropdown {
    width: 200px;
}

.dropdown-toggle::after {
    color: var(--primary-text-color); 
}

.favourite-button {
    cursor: pointer;
}

@media (min-width: 576px) { 
    .repo-details,
    .language-view-container {
        width : 50%;
    }
}