<div class="d-flex flex-column px-2" style="height: 100vh">
    <nav class="d-flex flex-column flex-md-row justify-content-between align-items-center">
        <h1 id="logo" class="font-weight-normal"><span class="font-weight-bold custom-color-primary">Git</span>Helper</h1>
        <select class="repository-input selectpicker w-100" name="repository-input" [disabled]="repoList==null || repoList.length==0" [(ngModel)]="selectedRepository">
            <option value="-1" disabled selected>Enter a Repository Name</option>
            <option *ngFor="let repo of repoList;" [value]="repo.url" [innerHtml]="repo.name"></option>
        </select>
        <span id="profile-comp" class="">
            ProfilePic
        </span>
    </nav>
    <main class="row" style="height: 94%;">
        <commit-detail class="commit-view col-12 col-md-6 h-100" [repositoryName]="selectedRepository"></commit-detail>
        <div class="col-12 col-md-6">
            -->
            <div class="info-panel"></div>
            <div>
                <commit-graph [repositoryName]="selectedRepository"></commit-graph>
            </div>
        </div> 
    </main>
</div>
