<div class="container-fluid h-min-100-vh login-container d-flex flex-column p-2 p-md-4">
    <nav class="mb-2 d-flex flex-column flex-md-row align-items-center justify-content-between">
        <h1 id="logo" class="font-weight-normal"><span class="font-weight-bold custom-color-primary">Git</span>Helper</h1>
        <span id="profile-component" class="">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="avatarPic" src={{userAvatarUrl}}>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                  <button class="dropdown-item text-danger" (click)="logout()">Log Out <i class="pl-2 fa-solid fa-right-from-bracket"></i></button> <!-- to decide what to do-->
                </div>
              </div>
        </span>
    </nav>
     <main class="d-flex flex-column align-items-center flex-fill">
        <div class="row w-100 mb-2">
            <div class="col-12 col-md-5 px-md-0 align-middle h4 font-weight-semibold custom-color-primary">Welcome, {{getUserName()}}</div>
            <div class="col-12 col-md-7">
                <div class="row">
                    <div class="col-12 col-md-6 p-0 offset-md-6">
                        <select #repoDropDown class="repository-input selectpicker w-100 px-3" name="repository-input" [disabled]="repoList==null || repoList.length==0" [(ngModel)]="selectedRepositoryValue" (change)="initOnRepoSelection($any($event.target).value)">
                            <option value='-1' disabled selected>Select a Repository Name</option>
                            <option *ngFor="let repo of repoList;index as i" [value]="i" [innerText]="repo.repoName"></option>
                        </select>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row w-100">
            <div #commitDetailsView class="col-12 col-md-5 order-2 order-md-1 pl-md-0 mb-3 mb-sm-0" [style.height.px]="repoDetailsView.offsetHeight">
                <div class="commit-view custom-panel h-100 px-lg-3">
                    <commit-detail class=""></commit-detail>
                </div>
            </div>
            <div #repoDetailsView class="size-view col-12 col-md-7 order-1 order-md-2 d-flex flex-column flex-fill mb-4 mb-md-0" style="height: 100%">
                <div class="info-panel d-flex flex-column flex-sm-row flex-fill mb-3">
                    <div class="repo-details d-flex flex-column flex-fill mb-sm-0 custom-panel p-4 mb-3 mb-sm-0 mr-sm-2">
                        <div class="h5 font-weight-bold mb-4 custom-color-primary">Repository Details</div>
                        <div class="d-flex flex-column align-items-center">
                            <div class="d-flex flex-column align-items-center justify-content-center py-1">
                                <span class="custom-color-primary font-weight-medium">Repository link</span>
                                <span><a *ngIf="repoUrl !== ''" [href]="repoUrl" target="_blank">{{repoName}}<i class="fa-solid fa-link ml-1"></i></a>&nbsp;</span>
                            </div>
                            <div class="d-flex flex-column align-items-center justify-content-center py-1">
                                <span class="custom-color-primary font-weight-medium">Owner</span>
                                <span><span *ngIf="repoOwner !== ''">{{repoOwner}}</span>&nbsp;</span>
                            </div>
                            <div class="d-flex flex-column flex-xl-row justify-content-between w-75">
                                <div class="d-flex flex-column align-items-center justify-content-center py-1">
                                    <span class="custom-color-primary font-weight-medium">Creation Date</span>
                                    <span><span *ngIf="repoCreationDate !== undefined">{{repoCreationDate | date:'MMM dd, yyyy' : getPrefTimeOffset()}}&nbsp;</span></span>
                                </div>
                                <div class="d-flex flex-column align-items-center justify-content-center py-1">
                                    <span class="custom-color-primary font-weight-medium">Modified Date</span>
                                    <span><span *ngIf="repoUpdateDate !== undefined">{{repoUpdateDate | date:'MMM dd, yyyy' : getPrefTimeOffset()}}&nbsp;</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="language-view-container">
                        <div class="laungage-used-view custom-panel h-100 p-4 ml-sm-3">
                            <div class="custom-color-dark-grey">
                                <div class="h5 font-weight-bold mb-4 custom-color-primary">Languages Used</div>
                                <div class="d-block">
                                    <canvas style="max-height: 200px;" 
                                            baseChart
                                            
                                            [data]="chartData"
                                            [type]="chartType">
                                            [options]="chartOptions"
                                            >
                                        </canvas>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="commit-graph-view flex-fill custom-panel py-4 py-md-1 px-3 mt-2">
                    <commit-graph style="min-height: 100%"></commit-graph>
                </div>
            </div> 
        </div>
    </main>
    <footer class="">
        <span class="custom-color-secondary-text font-weight-bold trademark"><i class="fa-regular fa-copyright"></i> NRI Fintech, 2022</span>
    </footer>
</div>